@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    margin: 60px auto;
    width: 70%;
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: #000000;
}
h1 {
    font-size: 3em;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    color: #AD702A;
    font-family: 'Source Sans Pro';
}
h3 {
    font-size: 1.3em;
    color: #EAC15B;
    font-family: 'Source Sans Pro';
}
p {
    line-height: 1.1em;
    color: #333;
    font-size: 1em;
    font-family: 'Source Sans Pro';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.1em;
    font-family: 'Source Sans Pro';
}

ul.posts li, ul {
    font-size: 1em;
    font-family: 'Source Sans Pro';
}
img {
  border-radius: 50%;
}

.ps {
  line-height: 1em;
  color: #999;
  font-size: .8em;
  font-family: 'Source Sans Pro';
  font-style: italic;
}
