@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

@font-face {
  font-family: iAWriter;
  src: url("./fonts/iAWriterQuattroS-Regular.ttf");
}
@font-face {
  font-family: iAWriterBold;
  src: url("./fonts/iAWriterQuattroS-Bold.ttf");
}

body {
  margin: 60px auto;
  width: 70%;
  font-size: 1em;
  line-height: 1.6em;
  color: #333;
  /* font-family:'Source Sans Pro', 'Sans-Serif'; */
  font-family: "iAWriter";
}

nav ul,
footer ul {
  font-family: "iAWriter";
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
}
nav a,
footer a {
  font-size: 1.2em;
  text-decoration: none;
  color: #999;
  font-style: none;
  border-bottom: 0px dotted rgba(127, 127, 127, 0.45) !important;
}
a {
  /* text-decoration: underline; */
  border-bottom: 2px dotted rgba(127, 127, 127, 0.45) !important;
  border-bottom-color: rgba(127, 127, 127, 0.45);
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  /* font-weight: bold; */
  color: #000;
  text-decoration: none;
}

li {
  margin: 10px 0;
}

mark {
  background-color: #daaa35;
}

a:hover {
  color: #daaa35;
  border-bottom: 2px solid #daaa35 !important;
  border-bottom-color: #daaa35;
  border-bottom-style: dotted;
  border-bottom-width: 2px;
}
h1 {
  font-size: 3em;
  font-family: "iAWriterBold";
  line-height: 1em;
  /* font-family:'Source Sans Pro','Sans-Serif'; */
}
h3 {
  font-size: 1.5em;
  font-family: "iAWriterBold";
  line-height: 1.5em;
  /* font-family:'Source Sans Pro','Sans-Serif'; */
}
p {
  line-height: 1.2em;
  color: #333;
}

footer {
  margin: 60px auto;
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

button {
  background-color: white;
  border-color: black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #daaa35;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.blog-caption {
  line-height: 2em;
  color: #999;
  font-family: "Source Sans Pro";
  font-size: 1em;
  font-style: italic;
}

img {
  filter: drop-shadow(0px 2px 7px #959595);
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-0.5deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(0.5deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(0.5deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-0.5deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-0.5deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(0.5deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-0.5deg);
  }
}

.scroll {
  position: absolute;
  /* bottom: 3%; */
  bottom: 10px;
  left: 45%;
  z-index: 2;
  display: inline-block;
  border-bottom: 0px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.scroll:hover {
  opacity: 0.5;
}

#more a span {
  position: absolute;
  bottom: 20px;
  left: 45%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#more {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/*responsive columns!*/
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-left {
  float: left;
  width: 40%;
  padding: 5px;
}
.column {
  float: left;
  width: 50%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#more_aboutme_col {
  display: grid;
  grid-template-columns: 20% 60%;
}
#more_aboutme {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1210px) {
  .column {
    width: 100%;
  }
  .column-left {
    width: 80%;
  }
  .scroll {
    display: none;
  }
  #more {
    height: 50%;
  }
  #more_aboutme_col {
    grid-template-columns: 3% 90%;
  }
  #stamp_pic {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-height: 700px) {
  .scroll {
    display: none;
  }
}

@media screen and (max-height: 540px) {
  #more {
    height: 105%;
  }
}

section {
  display: flex;
  flex-direction: column;
}
