@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.cardBox {
  float: left;
  font-size: 1.2vw;
  line-height: 1.4em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 100%;
  height:auto;
  display: contents;
  box-shadow: 0px 20px 100px #555;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  border-radius: 15px;
  cursor: default;
  height: 500px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 85%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  box-shadow: 0px 20px 50px #555;
}

.card p {
  margin-bottom: 1.8em;
  font-style: italic;
}

.front {
  border-radius: 15px;
  background-image: url("../images/PostcardFront.png");
  background-size: cover;
}

.back {
  border-radius: 15px;
  background-image: url("../images/PostcardBack.png");
  background-size: cover;

}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: black;
  line-height:1.5em;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}

.vl {
  border-left: 1px dotted black;
  height: 100%;
  position: absolute;
  left: 50%;
/*   margin-top: 10px; */
}

body {
    margin: 60px auto;
    width: 70%;
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    font-family:'Source Sans Pro', 'Sans-Serif';
}
nav ul, footer ul {
    font-family:'Source Sans Pro', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav a, footer a {
    font-size: 1.2em;
    text-decoration: none;
    color: #999;
    font-style: none;
    border-bottom: 0px dotted rgba(127, 127, 127, 0.45) !important;
}

a {
    /* text-decoration: underline; */
    border-bottom: 1px dotted rgba(127, 127, 127, 0.45) !important;
    border-bottom-color: rgba(127, 127, 127, 0.45);
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    /* font-weight: bold; */
    color: #000;
    text-decoration: none;
}
mark {
  background-color: #EAC15B;
}

a:hover {
    color: #EAC15B;
    border-bottom: 1px dotted #EAC15B !important;
    border-bottom-color: #EAC15B;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}
h1 {
    font-size: 3vw;
    font-family:'Source Sans Pro','Sans-Serif';
    line-height: 1em;
}
h2 {
    font-size: 2vw;
    font-family:'Source Sans Pro','Sans-Serif';
    line-height: 1em;
}
h3 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 5px;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    font-family:'Source Sans Pro','Sans-Serif';
}
footer {
    margin: 60px auto;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
    font-family: 'Open Sans',serif;
}

ul.posts li {
    list-style: none;
    font-size: 1.5em;
    font-family: 'Open Sans',serif;
}

button {
  background-color: white;
  border-color: black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

button:hover {
  background-color: #EAC15B;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


* {
  box-sizing: border-box;
}

.row {
  width: 80%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 5%;
  row-gap: 3%;
}

.column {
  align-items: stretch;
  display: none;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.portfolioimg {
  object-fit: cover;
  width: 100%;
  max-height:100%;
  border-radius: 7px;
  filter: drop-shadow(0px 5px 50px #959595);
}

.portfolioimg:hover {
    opacity:0.5;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}

#caption {
  font-size:.4em;
  font-family:'Source Code Pro', monospace;
}

.type {
  font-family:'Source Code Pro', monospace;
}
