@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@font-face {
  font-family: iAWriter;
  src: url('./fonts/iAWriterQuattroS-Regular.ttf');
}
@font-face {
  font-family: iAWriterBold;
  src: url('./fonts/iAWriterQuattroS-Bold.ttf');
}
@font-face {
  font-family: iAWriterMono;
  src: url('./fonts/iAWriterMonoS-Regular.woff');
}
@font-face {
  font-family: Script;
  src: url('./fonts/unrulyness.ttf');
}

.cardBox {
  float: left;
  font-size: 1.2vw;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.4s ease 0.1s;
  width: 85%;
  height:550px;
  display: contents;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  cursor: default;
  height: 37vw;
  transform-style: preserve-3d;
  transition: transform .4s ease 0.1s;
  width: 85%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  border-radius: 15px;
  box-shadow: 0px 20px 100px #555;
  font-family: 'Courier New', monospace;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #55555E;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .front {
  border-radius: 15px;
  background-image: url("../images/PostcardFront.jpg");
  background-size: cover;
}

.card .back {
  border-radius: 15px;
  background-image: url("../images/postcard2.jpg");
  background-size: cover;
  transform: rotateY( 180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.card .back a {
  /* padding: 0.3em 0.5em; */
  /* background: #333;
  color: #fff; */
  text-decoration: none;
  /* border-radius: 1px; */
  /* font-size: 0.9em; */
  transition: all 0.2s ease 0s;
}

.back-grid {
  display: grid;
  grid-template-columns: 50% 40%;
  column-gap: 5%;
}

.back-grid-left {
  text-align: left;
}

.back-text-left {
  font-family: Script;
  font-size: 1.5em;
  margin-right: 1vw;
  margin-left: 1vw;
}

.back-text-right {
  text-align: left;
  padding-left: 5%;
  /* border-left: 1px dotted #DAAA35; */
}

.stamp {
  text-align:right;
}

.caption {
  font-size: 1vw;
  font-family: 'Courier New', monospace;
}

.signature {
  font-family: Script;
  line-height: 2.8vw;
  font-size: 3.5vw;
}

.type {
  font-family: 'Courier New', monospace;
  line-height: 2vw;
  font-size: 1.2vw;
  /* font-weight: bold; */
}

.smalltype {
  font-size: 1vw;
  line-height: 1.5vw;
  font-family: 'Courier New', monospace;
}

.display {
  font-family: iAWriterMono;
  font-size: 8vw;
  line-height: 10vw;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

body {
    margin: 60px auto;
    width: 70%;
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    font-family: iAWriter;
}
nav ul, footer ul {
    font-family: iAWriter;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav a, footer a {
    font-size: 1.2em;
    text-decoration: none;
    color: #999;
    font-style: none;
    border-bottom: 0px dotted rgba(127, 127, 127, 0.45) !important;
}

a {
    /* text-decoration: underline; */
    border-bottom: 2px dotted rgba(127, 127, 127, 0.45) !important;
    border-bottom-color: rgba(127, 127, 127, 0.45);
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    /* font-weight: bold; */
    color: #000;
    text-decoration: none;
}
mark {
  background-color: #DAAA35;
}

a:hover {
    color: #DAAA35;
    border-bottom: 2px solid #DAAA35 !important;
    border-bottom-color: #DAAA35;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
}
h1 {
    font-size: 3vw;
    line-height: 1em;
    font-family: iAWriterBold;
}
h2 {
    font-size: 2vw;
    line-height: 1em;
}
h3 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 5px;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    margin: 60px auto;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    font-size: 1.5em;
}

button {
  background-color: white;
  border-color: black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

button:hover {
  background-color: #DAAA35;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


* {
  box-sizing: border-box;
}

.row {
  width: 80%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 5%;
  row-gap: 3%;
}

.column {
  align-items: stretch;
  display: none;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.portfolioimg {
  object-fit: cover;
  width: 100%;
  max-height:100%;
  border-radius: 7px;
  filter: drop-shadow(0px 5px 15px #959595);

}

.portfolioimg:hover {
    opacity:0.5;
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.scroll {
  position: absolute;
  bottom: 20px;
  left: 45%;
  z-index: 2;
  display: inline-block;
  border-bottom: 0px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scroll:hover {
  opacity: .5;
}

#section01 a span {
  position: absolute;
  bottom: 20px;
  left: 45%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
