<!DOCTYPE html>
	<html>
		<head>
			<title>Jenny Han</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/index.css">
			<script src="/animation/simplexNoise.js" defer></script>
			<script src="/animation/index.js" defer></script>
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
		</head>
		<body>
			<div class="container" style="width: 70%;margin: 60px auto -10px auto">
				<nav>
		    		<ul>
		        		<li><a href="/">Home</a></li>
			        	<li><a href="/about">About</a></li>
		        		<li><a href="/blog" style="color:#000000">Thoughts</a></li>
                <!-- <li><a href="/postcards">Postcards</a></li> -->
		    		</ul>
				</nav>
        <br>
				<h1>Jenny Han has thoughts. They're </h1>
        <br>
			</div>

			<div class="linescontainer" style="width: 100%">
				<canvas id="canvas"></canvas>
			</div><!-- /.container -->
			<footer>
	    		<ul>
							<li><a href=" https://glitch.com/~noiselines-text">noisy lines remixed from @DonKarlssonSan, click here to try it yourself</a></li>
				</ul>
			</footer>
		</body>
	</html>

<!-- <ul class="posts">

  {% for category in site.categories %}
    <h3>{{ category[0] }}</h3>
    <ul>
      {% for post in category[1] %}
        <span>
          <img src="{{ post.thumbnail }}" style="height:150px" align="middle"/>
          {{ post.date | date_to_string }} »
          <a href="{{ post.url }}" style="color:#333">{{ post.title }}</a>
        </span>
        <br>
        {% if post.summary %}
          <span style="line-height: 1em;color: #999;font-size: .8em;font-family: 'Source Sans Pro';font-style: italic;">{{ post.summary }}</span>
        {% else %}
          <span style="line-height: 1em;color: #999;font-size: .8em;font-family: 'Source Sans Pro';font-style: italic;">{{ post.excerpt }}</span>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %} -->
