---
layout: blog
title: postcards
---
<h1>{{ page.title }}</h1>
<h2>nobody likes blogs, everybody loves postcards</h2>

<br>
			<ul class="posts">
			  {% for category in site.categories %}
			    <h3>{{ category[0] }}</h3>
			    <ul>
			      {% for post in category[1] %}
							{% if post.status != "draft" %}
								<li>
					        <span>
					          <!-- <img src="{{ post.thumbnail }}" style="height:150px" align="middle"/> -->
					          <a href="{{ post.url }}" style="color:#333"> {{ post.date | date_to_string }} » {{ post.title }}</a>
					        </span>
					        <br>
					        {% if post.summary %}
					          <span class = "blog-caption">{{ post.summary }}</span>
					        {% else %}
					          <span class = "blog-caption">{{ post.excerpt }}</span>
					        {% endif %}
								</li>
						  {% endif %}
			      {% endfor %}
					</ul>

			  {% endfor %}
