---
layout: blog
title: Jenny Han's Thoughts
---
<h1>{{ page.title }}</h1>
<ul class="posts">

  {% for category in site.categories %}
    <h3>{{ category[0] }}</h3>
    <ul>
      {% for post in category[1] %}
        <span>
          <img src="{{ post.thumbnail }}" style="height:150px" align="middle"/>
          {{ post.date | date_to_string }} »
          <a href="{{ post.url }}" style="color:#333">{{ post.title }}</a>
        </span>
        <br>
        {% if post.summary %}
          <span class="ps">{{ post.summary }}</span>
        {% else %}
          <span class="ps">{{ post.excerpt }}</span>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
