<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript">
			    function openTab(th)
			    {
			        window.open(th.name,'_blank');
			    }
					// Source: https://www.codeproject.com/Questions/851789/Link-button-onclick-open-pdf-file-in-new-tab
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about" style="color:#000000">About</a></li>
	        		<li><a href="/blog">Thoughts</a></li>
							<!-- <li><a href="/postcards">Postcards</a></li> -->
	    		</ul>
			</nav>
			<div class="container" style="overflow:auto;">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jh.jennylihan@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jennylihan">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
