<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/portfolio.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" style="color:#000000">Home</a></li>
		        	<li><a href="/about">About</a></li>
							<li><a href="/images/JennyHanResume.pdf">Resume</a></li>
							<!-- <li><a href="https://tilde.town/~han">Random Stuff</a></li> -->
	        		<!-- <li><a href="/blog">Thoughts</a></li> -->
	    		</ul>
			</nav>
			<div class="container" style="display:grid;grid-template-columns:75%">
			<br>

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jh.jennylihan@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jennylihan">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
