<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Thoughts</a></li>
							<li><a href="/postcards" style="color:#000000">Postcards</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jh.jennylihan@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jennylihan">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
